<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mandroslabs.transitodf" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tránsito DF</name>
    <description>
        App móvil para consultar información de un vehículo, infracciones y adeudos de tenencia.
    </description>
    <author email="movil@mandroslabs.com" href="http://mandroslabs.com">
        Mandros labs
    </author>
    <content src="index.html"/>
    <icon src="www/res/icon.png"/>
    <access origin="*"/>
    <access origin="tel:*" launch-external="yes"/>
</widget>
